<nav class="webkite-results-paginator">
  <a href="#" data-page="1" data-per-page="{{perPage}}" {{#if isFirstPage}}disabled class="disabled"{{/if}}>&lt;&lt;</a>
  <a href="#" data-page="{{prevPage}}" data-per-page="{{perPage}}" {{#if isFirstPage}}disabled class="disabled"{{/if}}>&lt;</a>
  {{#each pagesToShow}}
  <a href="#" data-page="{{this}}" data-per-page="{{../perPage}}">
    {{#if (equals ../page this)}}
      [{{this}}]
    {{else}}
      {{this}}
    {{/if}}
  </a>
  {{/each}}
  <a href="#" data-page="{{nextPage}}" data-per-page="{{perPage}}" {{#if isLastPage}}disabled class="disabled"{{/if}}>&gt;</a>
  <a href="#" data-page="{{pages}}" data-per-page="{{perPage}}" {{#if isLastPage}}disabled class="disabled"{{/if}}>&gt;&gt;</a>
</nav>
