<nav class="webkite-results-paginator">
  <a href="#webkite|page-1|per_page-{{perPage}}" {{#if isFirstPage}}disabled class="disabled"{{/if}}>&lt;&lt;</a>
  <a href="#webkite|page-{{prevPage}}|per_page-{{perPage}}" {{#if isFirstPage}}disabled class="disabled"{{/if}}>&lt;</a>
  {{#each pagesToShow}}
  <a href="#webkite|page-{{this}}|per_page-{{../perPage}}">
    {{#if (equals ../page this)}}
      [{{this}}]
    {{else}}
      {{this}}
    {{/if}}
  </a>
  {{/each}}
  <a href="#webkite|page-{{nextPage}}|per_page-{{perPage}}" {{#if isLastPage}}disabled class="disabled"{{/if}}>&gt;</a>
  <a href="#webkite|page-{{pages}}|per_page-{{perPage}}" {{#if isLastPage}}disabled class="disabled"{{/if}}>&gt;&gt;</a>
</nav>
