<li>
  <h2><a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item">
    {{this.name}}
  </a></h2>
  <div id={{this.id}} class="webkite-item-details">
    <table>
      <tr>
        <th colspan="2">Pokedex Data</th>
      </tr>
      {{#each (facets parent="Pokedex information")}}
        <tr>
          <td>{{capitalize this.name}}</td>
          <td>{{this.displayValue}}</td>
        </tr>
      {{/each}}
    </table>

    <table>
      <tr>
        <th colspan="2">Type</th>
      </tr>
      <tr>
        {{#each (facets parent="type")}}
          {{#if (equals this.value 1)}}
            <td><a href="#" class="webkite-add-filter" data-facet="{{this.name}}" data-operator="eq" data-value="{{this.value}}">{{this.name}}</a></td>
          {{/if}}
        {{/each}}
      </tr>
    </table>

    <table>
      <tr>
        <th colspan="7">Base Stats</th>
      </tr>
      <tr>
        <th>HP</th>
        <th>Atk</th>
        <th>Def</th>
        <th>Spe</th>
        <th>SpA</th>
        <th>SpD</th>
        <th>Total</th>
      </tr>
      <tr>
        {{#each (facets parent="PokeStats")}}
          <td>{{this.value}}</td>
        {{/each}}
      </tr>
    </table>

  </div>
</li>
