{{log "env: develop"}}
<h3>Pokemon {{pagination.firstResult}} to {{pagination.lastResult}}</h3>
{{>sort this.sort}}
{{paginator pagination 5}}
<ol start={{pagination.firstResult}}>
  {{#each items}}
    {{>resultItem this}}
  {{/each}}
</ol>
{{paginator pagination 5}}
